.register {
  width: 396px;
  padding: 0 442px;
  background-color: #202020;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .register {
    padding: 0 186px;
  }
 }

 @media screen and (max-width: 450px) {
  .register {
    padding: 0 30px;
  }
 }